on:
  push:
    branches:
      - master




jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v3

      - name: "docker login"
        run: docker login --username ${{ secrets.DOCKER USERNAME}} --password ${{ secrets.DOCKER_TOKEN}}

      - name: "buliding image"
        run: dockerbuild -t ${{ secrets.DOCKER USERNAME}}/os .

      - name: "push to dockerhub"
        run: docker push ${{ secrets.DOCKER USERNAME}}/os