on:
  push:
    branches:
      - master




jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "priniting file before"
        run: ls
      
      - uses: actions/checkout@v3

      - name: "priniting files after"
        run: ls